<!doctype html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>哈尔滨动车段 - 账项管理系统</title>

  <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="./assets/css/dashboard.css">
</head>

<body>
  <div id="navbar"></div>

  <div class="container-fluid" id="app">
    <div class="row">
      <div id="sidebar"></div>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3>
            02.一体化作业申请单
          </h3>
        </div>

        <div class="lead">
          <div id="toolbar" class="pull-right"></div>
          <i class="fa fa-list fa-fw"></i> 技术员审核
          <br>
          <br>
        </div>

        <div class="card">
          <div class="card-body row">
            <div class="form-group col-4">
              <select class="form-control" v-model="journal.p_jsy_content" @change="change">
                <option value="同意">同意</option>
                <option value="班组跟踪、质检确认">班组跟踪、质检确认</option>
                <option value="班组、质检跟踪">班组、质检跟踪</option>
              </select>
            </div>
            <div class="form-group col-4">
              <select id="p-jsy.p-bz" class="form-control" disabled v-model="journal.p_jsy_bz">
                <option v-bind:value="item.name" v-for="item in deptList">{{ item.name }}</option>
              </select>
            </div>
            <div class="form-group col-4">
              <input id="p-jsy.qc" class="form-control" disabled v-model="journal.p_jsy_qc">
            </div>
            <div class="clearfix"></div>

            <div class="col-12">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">
                  <i class="fa fa-fw fa-arrow-left"></i> 后退
                </button>
                <button type="button" class="btn btn-primary" v-on:click="submit">
                  <i class="fa fa-fw fa-check-square-o"></i> 确定
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script src="./lib/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="./lib/axios/dist/axios.min.js"></script>
  <script src="./lib/vue/dist/vue.min.js"></script>
  <script src="./lib/moment/min/moment.min.js"></script>
  <script src="./lib/jquery/dist/jquery.slim.min.js"></script>
  <script src="./lib/popper.js/dist/umd/popper.min.js"></script>
  <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="./assets/js/journal.02-jsy.content.js"></script>
</body>

</html>
